<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SET</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body>
    <div id="application">
      <div id="options">
        <button id="check-if-sets">ARE THERE SETS?</button>
        <button id="hint">HINT</button>
        <button id="draw-cards">DRAW CARDS</button>
        <button id="reset-game">RESET GAME</button>
        <!-- This is where the option buttons go -->
      </div>

      <div id="gameboard">
        <div id="first-row"></div>
        <div id="second-row"></div>
        <div id="third-row"></div>
          <!-- This is where the cards go -->
      </div>



    </div>

    <!-- UNDERSCORE TEMPLATE -->
    <script type="text/template" id="card-template">
      <div class="card <%- card.get("color") %> <%- card.get("shape") %> <%- card.get("fill") %> <%- card.get("hint") %> <%- card.get("selected") %>">
        <!-- If the card is a ONE -->
        <% if (card.get("number") === 1){ %>
          <div class="one symbol <%- card.get("shape") %>">
          <% if (card.get("shape") === "diamond"){ %>
            <div class="inside-diamond"></div>
          <% } %>
          </div>
        <% } %>

        <!-- If the card is a TWO -->
        <% if (card.get("number") === 2){ %>
          <div class="two-top symbol <%- card.get("shape") %>">
          <% if (card.get("shape") === "diamond"){ %>
            <div class="inside-diamond"></div>
          <% } %>
          </div>

          <div class="two-bottom symbol <%- card.get("shape") %>">
          <% if (card.get("shape") === "diamond"){ %>
            <div class="inside-diamond"></div>
          <% } %>
          </div>
        <% } %>

        <!-- If the card is a THREE-->
        <% if (card.get("number") === 3) { %>
          <div class="three-top symbol <%- card.get("shape") %>">
          <% if (card.get("shape") === "diamond"){ %>
            <div class="inside-diamond"></div>
          <% } %>
          </div>

          <div class="three-middle symbol <%- card.get("shape") %>">
          <% if (card.get("shape") === "diamond"){ %>
            <div class="inside-diamond"></div>
          <% } %>
          </div>

          <div class="three-bottom symbol <%- card.get("shape") %>">
          <% if (card.get("shape") === "diamond") { %>
            <div class="inside-diamond"></div>
          <% } %>
          </div>
        <% } %>

      </div>
    </script>
    <script src="app.bundle.js" charset="utf-8"></script>

  </body>
</html>
